<!-- list-encadrant-component.component.html -->

<div class="mat-elevation-z8 custom-table-container">
  <table mat-table [dataSource]="encadrants" class="mat-elevation-z8 custom-table">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="custom-header">ID</th>
      <td mat-cell *matCellDef="let encadrant" class="custom-cell">{{ encadrant.id }}</td>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef class="custom-header">Nom</th>
      <td mat-cell *matCellDef="let encadrant" class="custom-cell">{{ encadrant.nom }}</td>
    </ng-container>

    <!-- Prenom Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef class="custom-header">Prenom</th>
      <td mat-cell *matCellDef="let encadrant" class="custom-cell">{{ encadrant.prenom }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="specialite">
      <th mat-header-cell *matHeaderCellDef class="custom-header">Specialite</th>
      <td mat-cell *matCellDef="let encadrant" class="custom-cell">{{ encadrant.specialite }}</td>
    </ng-container>

    <!-- Filiere Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="custom-header">Type</th>
      <td mat-cell *matCellDef="let encadrant" class="custom-cell">{{ encadrant.type}}</td>
    </ng-container>

    <!-- Tel Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef class="custom-header">Tel</th>
      <td mat-cell *matCellDef="let encadrant" class="custom-cell">{{ encadrant.tel}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="custom-header">Actions</th>
      <td mat-cell *matCellDef="let encadrant" class="custom-cell">
        <button mat-icon-button (click)="openUpdateDialog(encadrant.id)" class="custom-button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteEncadrant(encadrant.id)" class="custom-button">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'nom', 'prenom', 'specialite', 'type', 'telephone', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'nom', 'prenom', 'specialite', 'type', 'telephone', 'actions']"></tr>
  </table>
</div>

<button mat-fab color="primary" class="add-button custom-add-button" (click)="openAddDialog()">
  <mat-icon>add</mat-icon>
</button>
srcC:\Users\ASUS\Downloads\soumaya\front\src\app\components\list-encadrant